@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));

}
@keyframes fadeIn {
  0% {
    opacity: 0;
    scale: 0
  }
  100% {
    opacity: 1;
    scale: 1
  }
  
}
.check{
  transition: all 0.5s ease-in-out ;
}
.check-1,
.check-2,
.check-3,
.check-4{
  opacity: 0;
  scale: 0;


}


#check-box-1:checked ~.check-1,
#check-box-2:checked ~.check-2,
#check-box-3:checked ~.check-3,
#check-box-4:checked ~.check-4 {
  scale: 1;
  opacity: 1;

  
}


.option{
  
}